{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://patrick-vilchez.dev">Portfolio</a></li>
        <li><a href="https://github.com/Patrick564">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}
